@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  background-image: radial-gradient(black 1px, transparent 0);
  background-size: 25px 25px;
  font-family: "Space Mono", monospace;
}
